[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "config/nvim/pack/github/start/copilot.vim"]
	path = config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://www.github.com/tmux-plugins/tpm
